# How to setup .gitignore https://www.atlassian.com/git/tutorials/saving-changes/gitignore

# Python
*__init__.py
*.pyc

# Emacs autosave files
*~
*#

# Output files
*.root
*.png

# Root Build Files
*.so
*.d
*.pcm

# Text Files
**/bin/*.txt
*.txt

# Keep all textfiles in textfiles
!DataCollection/bin/textfiles/*.txt
!DataCollection/bin/textfiles/*/*.txt

#Remove temporary backups
*backup.txt
*backupshort.txt

# Log Files
*.log

# Other
*.pdf
*.orig

# Files to always include
!*.cc
!*.h

#Root dictionary files
*ACLiC*

#Nohup files
nohup.out
